*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    background-image: url(i/home.jpg);
    padding-bottom: 500px;
    background-position: center;
    background-size:cover;
    text-align: center;
    padding-left: 100px;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
    margin-top: 20px;
    border: 1px solid white;
    padding: 4px 4px;
    border-radius: 8px;
    padding-left: 4px;
    padding-right: 4px;
    
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 17px;
}
img{
    border-radius: 50px;
    position: absolute;
    margin-left: 500px;
    margin-top: 0;
}