@charset "ISO-8859-1";
body{
    background-image: url("i/lapiii2.jpg");
    padding-left:300px;
    padding-right:200px;
    padding-top:70px;
    background-position:center;
    background-size:cover;
   
}

.btn{
    text-decoration: none;
    padding-left: 200px;
    background-color: rgb(7, 68, 122);
    color: black;
    padding: 9px 12px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 8px;
    display: inline-block;
}
h1{
    color: black;
    font-weight: 500;
    font-size: 45px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.form label{
    color: black;
    font-size: 25px;
    padding-left: 150px;
    font-weight: 400;

}
.form{
    align-items: center;
    border: 2px solid black;
    padding-left: 20px;
    padding-bottom: 25px;
    padding-right: 20px;
}
a{
    text-decoration: none;
    padding-left: 200px;
    background-color: rgb(7, 68, 122);
    color: black;
    padding: 9px 12px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 8px;
    display: inline-block;
    border: 2px solid black;
}