<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laptop Shop</title>
    <link rel="stylesheet" href="veritys.css">
</head>
<body>
    <div class="top-part">
    <h1>verity section</h1>
    <h2>pick up your fevorite</h2>
    <a class="btn" th:href="@{/home}">Back</a>
    </div>
   
    <div class="container">
        <h1>shop hp laptops :</h1></br></br>
        <a th:href="@{/hp1}"> <img src="i\hp1.webp"></a>
        <a th:href="@{/hp2}"> <img src="i\hp2.webp"></a>
        <a th:href="@{/hp3}"> <img src="i\hp3.webp"></a>
        <a th:href="@{/hp4}"> <img src="i\hp4.webp"></a>
        </div>
        <div class="lenovo">
        <h1>shop lenovo laptops :</h1></br>
        <a th:href="@{/lenovo1}"> <img src="i\lenovo1.webp"></a>
        <a th:href="@{/lenovo2}"> <img src="i\lenovo2.webp"></a>
        <a th:href="@{/lenovo4}"> <img src="i\lenovo4.webp"></a>
       <a th:href="@{/lenovo3}"> <img src="i\lenovo3.webp"></a>
        </div>
        <div class="dell">
            <h1>shop dell laptops :</h1></br>
         <a th:href="@{/shopping1}"><img src="i\shopping1.webp"></a>
        <a th:href="@{/shopping2}"><img src="i\shopping2.webp"></a>
        <a th:href="@{/shopping3}"><img src="i\shopping3.webp"></a>
       <a th:href="@{/shopping4}"><img src="i\shopping4.webp"></a>
        </div>

    
    
</body>
</html>